/* Header-Content é um DIV utilizando um ID */
#header-content {
  background-color:lightgray
}

/* Cool é um span utilizando um ID dentro do Header-Content */
.cool {
  background-color: black;
  color: aliceblue;
}

/* Paragráfo 01 é o ID, usamos # por ser um ID */
#paragraph-01 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Fancy-Pants é a Class, usamos . por ser uma Class */
.fancy-pants {
  font-family: Georgia, "Times New Roman", Times, serif;
}
